<div>
	<div class="form">
		<h1>Select Theater</h1>
		<table border="0" cellpadding="8">
			<tr>
			<div ng-show="preferred_theaters.length">
				<td><h3>Saved Theater</h3></td>
				<td><div>
					<select name="Rating" ng-model="select.Tid">
						<option ng-repeat="theater in preferred_theaters track by $index" value="{{theater.Tid}}">{{theater.Name}}</option>
					</select>
				</div></td>
				<td><button ng-click="select_theater()">Select</button>
			</div>
			</tr>
			<tr>
				<td><h3>Search Theater</h3></td>
				<td><form name = "myForm">
					<input placeholder="City/State/Theater name" ng-model="{{search.Keyword}}" ng-required="true">
				</td>
				<td><button ng-click="search_theater()">Search</button>
			</tr>
			<tr ng-repeat="theater in search.Result track by $index">
				<td><h3>{{theater.Name}}</h3></td>
				<td>{{theater.Steet}}<br> {{theater.City}}, {{theater.State}} {{theater.Zip}}</td>
				<td><button ng-click="select_theater(theater)">Select</button>
			</tr>
		</table>
		<br><br>
		<button ng-click="goto('/me')">Back</button>
	</div>
</div>