<div>
    <div class="form">
        <h1>My Preferred Theater</h1>
        <div ng-repeat="theater in theaters track by $index">
            <div>
            	<input type="radio" name="theaterAns">{{theater.Name}}<br>
            	<span>{{theater.Steet}},</span>
            	<span>{{theater.City}},</span>
            	<span>{{theater.State}}</span>
            	<span>{{theater.Zip}}</span>
                <!-- <a href="#/movie"  ng-click = get_movie(movie.Mtitle)>{{movie.Mtitle}}</a> -->
            </div> <br>
        </div>
    </div>

</div>