<div class="form">
    <div>
    <h2>{{Title}}</h2>
    <span>Avaliable date:</span>
        <table border="0">
            <tr>
                <td ng-repeat="(key, value) in date">
                    <button ng-click="select_date(key)">{{key.substring(5, key.length)}}</button>
                </td>
            </tr>
        </table>
        <br>
        <span>Avaliable time:</span>
        <br>
        <table border="0">
            <tr>
                <td ng-repeat="day in hour_mins track by $index">
                    <button>{{day.substring(0, 5)}}</button>
                </td>
            </tr>
        </table>
    </div>
</div>