<div class="form">
    <h1>Me</h1>
    <div>
        <button ng-click="goto('/order_history')">My Order History</button>
    </div><br>
    <div>
        <button ng-click="goto('/my_payment_info')">My Payment Information</button>
    </div>
     <br>
     <div>
         <button ng-click="goto('/my_preferred_theater')">My Preferred Theater</button>
     </div> <br>
     <div>
         <button ng-click="goto('/order_history')">My Order History</button> <br>
     </div> <br>
     <div>
         <button ng-click="goto('/now_playing')">Back</button> <br>
     </div>
</div>